body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.home {
    .main_content {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .upcoming_auctions {
        display: flex;

        .artworks_sidebar {
            width: 30%;
            padding-right: 20px;
        }

        .artwork_details {
            width: 70%;
        }
    }
}

.popular_reviews {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    .popular_review-item {
        border: 1px solid #ccc;
        padding: 15px;
        text-align: center;

        .info {
            margin-top: 10px;
            font-size: 14px;
            color: #666;
        }
    }
}

.container {
    position: relative;
}

.logo {
    position: absolute;
    top: -10;
    left: 0;
}

// 인기리뷰 css
.title_container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.review_list {
    padding: 10px;
  
    .popular_reviews {
      color: black;
      font-size: 30px;
      font-weight: bold;
    }
  
    .grid_container {
      // display: grid;
      // grid-template-columns: repeat(3, 1fr);
      // gap: 20px;
      // margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
    }
  
    .product_item {
      // border: 1px solid #ccc;
      // padding: 10px;
      // text-align: center;
      border: 1px solid #ccc;
      padding: 10px;
      text-align: center;
      margin: 10px;
      width: calc(25% - 20px);
      box-sizing: border-box;

      img {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
      }

      .image_placeholder {
        background-color: #ddd;
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
      }

      .text_container {
        text-align: left;
        padding: 0 10px;
      }
  
      p.title {
        margin: 0;
        font-size: 16px;
        font-weight: bold;
      }

      p.artist {
        margin: 0;
        font-size: 12px;
        font-weight: bold;
      }
    }
  
    .more_link {
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      color: #7377b6;
      padding: 8px 12px;
      background-color: #7377b6;
      color: #fff;
      border: 1px solid #7377b6;
      border-radius: 4px;
      transition: background-color 0.2s ease;

  
      &:hover {
        background-color: #7377b6;
      }
    }
  }

  .toggle_buttons {
    display: flex;
    justify-content: right;
    margin-bottom: 5px;
  
    button {
      margin-right: 5px;
      padding: 4px 8px;
      font-size: 25px;
      cursor: pointer;
      border: 1px solid #222f3c;
      border-radius: 4px;
      background-color: #fff;
      color: #7377b6;
  
      &.active_button {
        background-color: #7377b6;
        color: #fff;
      }
    }
  }


.more_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

// 경매 임박 컴포넌트
// HomeComponent.module.scss

.auction_container {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.auction_center_container {
  position: relative;
  margin: auto;
  width: 70vw;
  height: 86vh;
  transition: all 1.2s ease 0s;
}

.auction_details {
  position: absolute;
  left: 0vw;
  top: 16vh;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: all 1.2s ease 0s;
}

.box1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 1.2s ease 0s;
  transform: rotate(0deg) translate(200px) rotate(0deg);
}

  .in_box1 {
    position: relative;
  }

  .box1_wrap {
    width: 240px;
    height: 240px;
    transform: rotate(-90deg);
  }
  
  .svg1 {
    width: 240px;
    height: 240px;
  }

  .frame {
    fill: white;
    stroke: #f5f5f5b2;
  }

  .bar_animate {
    stroke-dashoffset: 135.71680263507906;
    fill: transparent;
    stroke: url(#gradient);
    stroke-linecap: square;
    stroke-dasharray: 339.29200658769764;
    transition: 1.8s ease-in-out;
  }

  .text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    color: #3d3d3d;
    font-size: 8px;
    font-weight: 600;
    line-height: 100px;
    transform: rotate(90deg);
  }

  .big_figma {
    width: 65px;
    height: 65px;
    font-size: 12px;
  }

.box2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 1.2s ease 0s;
  transform: rotate(72deg) translate(200px) rotate(-72deg);
}

.box3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 1.2s ease 0s;
  transform: rotate(144deg) translate(200px) rotate(-144deg);
}

.box4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 1.2s ease 0s;
  transform: rotate(216deg) translate(200px) rotate(-216deg);
}

.box5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 1.2s ease 0s;
  transform: rotate(288deg) translate(200px) rotate(-288deg);
}




// Component.scss

// HomeComponent.module.scss

.component {
  display: flex;
  margin: 20px;
  transition: all 0.3s ease;
  cursor: pointer;

  &.expanded {
    margin-right: 300px; // 컨텐츠 확장 시 우측 여백 조정
  }

  .header {
    
    font-weight: bold;
    margin-bottom: 10px;
  }

  .artworkList {
    display: flex;
    flex-direction: column;

    img {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1); // 이미지에 호버 시 크기 조정
      }
    }
  }

  .content {
    display: flex;
    align-items: center;
    margin-left: 20px;

    .info_container {
      text-align: center;
      padding: 20px;
      border-radius: 50%;
      background-color: #f0f0f0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  
      h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }
    

    p {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .info_container,
    img {
      flex: 1; // 좌우 대칭되는 크기의 div에 담기
    }
  }
}



// styles.scss

$card_width: 85;
$card_height: 100;

.selected {
}

.selected:before {
  content: '';
}

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  text-align: justify;
  margin-left: 50px;
  margin-top: calc(50vh - 50px);
  background-color: #ddc4c4;
  transition: background-color 0.2s ease;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.menu_item .menu_item > a {
  color: #d4caca;
}

.menu ol {
  margin: auto;
  position: relative;
}

ol {
  display: flex;
  flex-direction: column;
}

.menu_item ol {
  position: relative;
}

li {
  list-style: none;
}

.menu_item {
  border: 1px solid rgba(30, 30, 30, 0.5);
  padding: 0;
  font-size: 17px;
  height: #{$card_height}px;
  width: #{$card_width}px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  line-height: 0.9em;
  border-radius: 2px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.sub_menu a {
  overflow: hidden;
  font-size: 14px;
}

.sub_menu:hover > .menu_item:first-of-type:hover > a {
  overflow: visible;
}

.menu > ol > .menu_item > a {
  padding-top: 4px;
}

.menu:hover > .menu_item {
  box-shadow: 1px 1px 5px 4px rgba(5, 5, 20, 0.7);
}

.menu_item:hover {
  box-shadow: -1px -2px 2px 0px rgba(26, 26, 26, 0.44);
  box-shadow: -2px 0px 12px grey;
}

a {
  text-decoration: none;
  text-align: center;
  color: #cacabc;
  padding-bottom: 5px;
}

.sub_menu a {
  padding-top: 3px;
  text-shadow: 1px 1px #484848;
}

.menu_item:hover > a {
  color: #f1ecec;
}

.menu {
  position: absolute;
}

.menu_item {
  display: flex;
  position: absolute;
}

// ... (이하 생략)

// 여기에 변수 및 스타일 규칙 추가 가능
