/* Navbar.css */

.navbar {
  background-color: transparent;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px; /* 네비게이션 바 내부 여백 설정 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar ul a {
    text-decoration: none;
    color: white; /* 링크 색상을 원하는 색상으로 설정하세요 */
    margin-right: 20px; /* 링크 간격 설정 */
  }
  
  .logo {
    width: 80px;
    height:80px;
    background-image: url(./logo.png);
    background-size: contain;
  }
  