.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.center-content {
    text-align: center;
  }

  
.hr {
    border-color: rgba(173, 216, 230, 0.571);
  }